.clearfix
{
	clear: both;
}

.trunc {
	max-width: 900px !important;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.trunc:hover{
	overflow: visible;
	white-space: normal;
	width: auto;
}

.top_nav .breadcrumb
{
	background: none;
	float: left;
	line-height: 32px;
	margin: 0;
	padding: 13px 15px 12px 15px;
}

.top_nav .navbar-right
{
	width: 30%;
}

.grid-view tr td:last-child
{
	min-width: 65px;
}