.clearfix
{
	clear: both;
}

.trunc {
	max-width: 1000px !important;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.trunc:hover{
	overflow: visible;
	white-space: normal;
	width: auto;
}